<%= erb :header, layout => false %>

<%= erb :upload, layout => false %>

<div id="home" class="bd">
  <a href="/"><img src="/img/logo.png" class="main-logo" alt="" /></a>
  <p class="text-public">Public!</p>
  <div class="search">
    <%= erb :nav, layout => false %>
    <form action="/search" method="get">
      <input type="text" name="q" /><button id="home-search" class="btn-blue">Search</button>
    </form>
  <% if @name && @magnetlink %>
  <ul class="nav">
    <li>
      <div class="uploaded">
        <p><a href="<%= @magnetlink %>/"><%= @name %></a></p>
      </div>
    </li>
  </ul>
  <% end %>
  </div>
</div>
<div id="overlay"></div>

<%= erb :footer, layout => false %>
