<title>Search Results</title>
<%= erb :links, :layout => false %>
<table>
<tr><td>torrent</td><td>magnet</td></tr>
<% if @urls.length > 0 %>
<% @urls.each {|url| %>
<tr>
<td><a href='<%= "#{$upload_dir}/#{url[:url]}" %>'><%= url[:name] %></a></td>
<td><a href='<%= url[:magnet] %>'>magnet</a></td>
</tr>
<% } %>
<% else %>
<tr><td>No torrents match.</td></tr>
<% end %>
</table>
<br>
<%= erb :footer, :layout => false %>