<%= erb :header, layout => false %>

<%= erb :upload, layout => false %>

<div id="search-list" class="bd">
  <a href="/"><img src="/img/text-logo.png" class="text-logo" alt="" /></a>
  <div class="search">
    <%= erb :nav, layout => false %>
    <form action="/search" method="/get">
      <input type="text" name="q" placeholder="<%= @query %>"/><button id="result-search" class="btn-blue">Search</button>
    </form>
  </div>
  <div class="results" id="results">
    <p>
    <%=
	if @error
          "<b>Error: </b>#{@text}"
	else
	  @text
        end %>
    </p>
  </div>
</div>
<div id="overlay"></div>

<%= erb :footer, layout => false %>
